body{
	min-height: 100vh;
	background-color: black;
	padding-top: 77px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
.w-back{
	background-color: white;
	border-radius: 2px;
}
.navbar{
	height: 77px;
	padding-right: 15rem;
}
.bg-dark{
	background-color: transparent!important;
}

.sticky{
  	position: fixed;
  	top: 77px;
  	right: 0;
  	left: 0;
  	z-index: -1;
}
.wolf{
	background-image: url('../img/wolf_howl2.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 300px 219px;
  	
	width: 300px;
	height: 200px;
	opacity: 1;
	margin-top: -77px;
}
#logo{
	margin-top: -8px;
}
.nav-item a{
	color: white;
	font-size: 1.15rem;
	font-weight: bold;
}
.nav-item a:hover{
	opacity: 0.8;
}
.main-container{
	min-height: calc(100vh - 300px);
	height: auto;
	margin-top: 154px;
}
.second-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: center;
	width: 100%;
}
.flex-card{
	color: black;
	width: 18rem;	
}

.card {
	width: auto;
	margin-bottom: 50px;
	background-size: contain;
	border-radius: 10px; /* Rounded corners */
	overflow: hidden; /* Hide scrollbars */
	background-color: white;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
	
}

.hover-card {
	transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
.hover-card:hover {
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
	transform: translateY(-8px);
	transform: scale(1.1);
	z-index: 100;
}

.card-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.page-footer{
	background-color: black;
	color: white;
}
#github-link{
	color: white;
}
#github-link:hover{
	color: #6c757d;
}

